<h1>Palmer Penguin Data Analytics</h1>
<hr>
<h3>Analyst: Mary Angela Remojo</h3>

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

<p>Importing dataset to Jupyter notebook</p>
<p>Converting dataset to dataframe</p>
<ul>Requirements 
    <li>Name of the dataframe</li>
    <li>Source</li>
</ul>

In [2]:
penguins = pd.read_csv('C:/Users/cherd/Downloads/ELEC03/penguins.csv')
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

<h3>Descriptive Analytics</h3>

In [3]:
penguins.describe()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,342.000000,342.000000,342.000000,342.000000,344.000000
mean,43.921930,17.151170,200.915205,4201.754386,2008.029070
std,5.459584,1.974793,14.061714,801.954536,0.818356
min,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,39.225000,15.600000,190.000000,3550.000000,2007.000000
50%,44.450000,17.300000,197.000000,4050.000000,2008.000000
75%,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,59.600000,21.500000,231.000000,6300.000000,2009.000000

In [4]:
penguins.describe().T

,count,mean,std,min,25%,50%,75%,max
bill_length_mm,342.0,43.921930,5.459584,32.1,39.225,44.45,48.5,59.6
bill_depth_mm,342.0,17.151170,1.974793,13.1,15.600,17.30,18.7,21.5
flipper_length_mm,342.0,200.915205,14.061714,172.0,190.000,197.00,213.0,231.0
body_mass_g,342.0,4201.754386,801.954536,2700.0,3550.000,4050.00,4750.0,6300.0
year,344.0,2008.029070,0.818356,2007.0,2007.000,2008.00,2009.0,2009.0

<h3>Cleaning the Data Frame</h3>

In [5]:
penguins.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

<h2>Selecting a column</h2>
<h3>Syntax</h3><br>
data_frame['column_name']

In [6]:
penguins['island']

0      Torgersen
1      Torgersen
2      Torgersen
3      Torgersen
4      Torgersen
         ...
339        Dream
340        Dream
341        Dream
342        Dream
343        Dream
Name: island, Length: 344, dtype: object

In [7]:
penguins['island'] == 'Dream'

0      False
1      False
2      False
3      False
4      False
       ...
339     True
340     True
341     True
342     True
343     True
Name: island, Length: 344, dtype: bool

In [8]:
penguins['species'].value_counts()

species
Adelie       152
Gentoo       124
Chinstrap     68
Name: count, dtype: int64

In [9]:
penguins['species'].unique()

array(['Adelie', 'Gentoo', 'Chinstrap'], dtype=object)

In [10]:
chinstrap_df = penguins[penguins['species'] == "Chinstrap"]

In [11]:
chinstrap_df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
276,Chinstrap,Dream,46.5,17.9,192.0,3500.0,female,2007
277,Chinstrap,Dream,50.0,19.5,196.0,3900.0,male,2007
278,Chinstrap,Dream,51.3,19.2,193.0,3650.0,male,2007
279,Chinstrap,Dream,45.4,18.7,188.0,3525.0,female,2007
280,Chinstrap,Dream,52.7,19.8,197.0,3725.0,male,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [12]:
adelie_df = penguins[penguins['species'] == "Adelie"]

In [13]:
adelie_df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
147,Adelie,Dream,36.6,18.4,184.0,3475.0,female,2009
148,Adelie,Dream,36.0,17.8,195.0,3450.0,female,2009
149,Adelie,Dream,37.8,18.1,193.0,3750.0,male,2009
150,Adelie,Dream,36.0,17.1,187.0,3700.0,female,2009
151,Adelie,Dream,41.5,18.5,201.0,4000.0,male,2009

In [14]:
gentoo_df = penguins[penguins['species'] == "Gentoo"]

In [15]:
gentoo_df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
152,Gentoo,Biscoe,46.1,13.2,211.0,4500.0,female,2007
153,Gentoo,Biscoe,50.0,16.3,230.0,5700.0,male,2007
154,Gentoo,Biscoe,48.7,14.1,210.0,4450.0,female,2007
155,Gentoo,Biscoe,50.0,15.2,218.0,5700.0,male,2007
156,Gentoo,Biscoe,47.6,14.5,215.0,5400.0,male,2007
...,...,...,...,...,...,...,...,...
271,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN,2009
272,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,female,2009
273,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,male,2009
274,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,female,2009
275,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,male,2009

<h1>How many chinstrap penguins whose weight is above 4000g?</h1>

In [16]:
penguins['body_mass_g'] >= 4000

0      False
1      False
2      False
3      False
4      False
       ...
339     True
340    False
341    False
342     True
343    False
Name: body_mass_g, Length: 344, dtype: bool

In [17]:
chinstrap_heavy = penguins[(penguins['body_mass_g'] >= 4000) & (penguins['species'] == "Chinstrap")]

In [18]:
chinstrap_heavy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16 entries, 284 to 342
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            16 non-null     object
 1   island             16 non-null     object
 2   bill_length_mm     16 non-null     float64
 3   bill_depth_mm      16 non-null     float64
 4   flipper_length_mm  16 non-null     float64
 5   body_mass_g        16 non-null     float64
 6   sex                16 non-null     object
 7   year               16 non-null     int64
dtypes: float64(4), int64(1), object(3)
memory usage: 1.1+ KB

<h1>How to fillup null values</h1>

In [19]:
penguins['sex'] = penguins['sex'].fillna(penguins['sex'].mode()[0])
penguins['bill_length_mm'] = penguins['bill_length_mm'].fillna(penguins['bill_length_mm'].mode()[0])
penguins['bill_depth_mm'] = penguins['bill_depth_mm'].fillna(penguins['bill_depth_mm'].mode()[0])
penguins['flipper_length_mm'] = penguins['flipper_length_mm'].fillna(penguins['flipper_length_mm'].mode()[0])
penguins['body_mass_g'] = penguins['body_mass_g'].fillna(penguins['body_mass_g'].mode()[0])

In [20]:
penguins.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

<h1>How to change the data type of a column</h1>

In [21]:
penguins['species'] = penguins['species'].astype('category')
penguins['island'] = penguins['island'].astype('category')
penguins['sex'] = penguins['sex'].astype('category')

In [22]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    category
 1   island             344 non-null    category
 2   bill_length_mm     344 non-null    float64
 3   bill_depth_mm      344 non-null    float64
 4   flipper_length_mm  344 non-null    float64
 5   body_mass_g        344 non-null    float64
 6   sex                344 non-null    category
 7   year               344 non-null    int64
dtypes: category(3), float64(4), int64(1)
memory usage: 15.0 KB

In [23]:
penguins.describe()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,344.000000,344.000000,344.000000,344.000000,344.000000
mean,43.905523,17.150291,200.851744,4199.418605,2008.029070
std,5.447882,1.969061,14.045266,800.197923,0.818356
min,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,39.275000,15.600000,190.000000,3550.000000,2007.000000
50%,44.250000,17.300000,197.000000,4025.000000,2008.000000
75%,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,59.600000,21.500000,231.000000,6300.000000,2009.000000

<h1>DATA AGGREGATION</h1>
<h1>The use of .groupby()</h1>

In [36]:
penguins_insight8 = penguins.groupby(['species', 'island', 'sex', 'year']).size()

In [37]:
penguins_insight8

species    island     sex     year
Adelie     Biscoe     female  2007     5
                              2008     9
                              2009     8
                      male    2007     5
                              2008     9
                              2009     8
           Dream      female  2007     9
                              2008     8
                              2009    10
                      male    2007    11
                              2008     8
                              2009    10
           Torgersen  female  2007     8
                              2008     8
                              2009     8
                      male    2007    12
                              2008     8
                              2009     8
Chinstrap  Biscoe     female  2007     0
                              2008     0
                              2009     0
                      male    2007     0
                              2008     0
                              2009     0
           Dream      female  2007    13
                              2008     9
                              2009    12
                      male    2007    13
                              2008     9
                              2009    12
           Torgersen  female  2007     0
                              2008     0
                              2009     0
                      male    2007     0
                              2008     0
                              2009     0
Gentoo     Biscoe     female  2007    16
                              2008    22
                              2009    20
                      male    2007    18
                              2008    24
                              2009    24
           Dream      female  2007     0
                              2008     0
                              2009     0
                      male    2007     0
                              2008     0
                              2009     0
           Torgersen  female  2007     0
                              2008     0
                              2009     0
                      male    2007     0
                              2008     0
                              2009     0
dtype: int64

<h1>Exploratory Data Analytics (EDA)</h1>

<h1>questions</h1>
<br>
1. Which species has the longest flipper length?
<br>
2. Which species has the shortest flipper length? 
<br>
3. Which species has the most population in the Dream island?
<br>
4. Which gender is the most dominant?
<br>
5. Which species has the most population in the Biscoe island?
<br>
6. Which species has the most population in the Torgersen island?
<br>
7. What year has the most species?

<h1>1. Which species has the longest flipper length? </h1>

In [24]:
chinstrap_sp = penguins[penguins['species'] == 'Chinstrap']
chinstrap_sp['flipper_length_mm'].mean()

np.float64(195.8235294117647)

In [25]:
gentoo_sp = penguins[penguins['species'] == 'Gentoo']
gentoo_sp['flipper_length_mm'].mean()

np.float64(216.96774193548387)

In [26]:
adelie_sp = penguins[penguins['species'] == 'Adelie']
adelie_sp['flipper_length_mm'].mean()

np.float64(189.95394736842104)

<h2>INSIGHTS #1</h2>
<h3>Gentoo have the most longest flipper length among the other species</h3>

<h1>2. Which species has the shortest flipper length? </h1>

In [27]:
chinstrap_sf = penguins[penguins['species'] == 'Chinstrap']

In [28]:
chinstrap_sf['flipper_length_mm'].mean()

np.float64(195.8235294117647)

In [29]:
gentoo_sf = penguins[penguins['species'] == 'Gentoo']
gentoo_sf['flipper_length_mm'].mean()

np.float64(216.96774193548387)

In [30]:
adelie_sf = penguins[penguins['species'] == 'Adelie']
adelie_sf['flipper_length_mm'].mean()

np.float64(189.95394736842104)

<h2>INSIGHTS #2</h2>
<h3>Adelie have the shortest flipper length among the other species</h3>

<h1>3. Which species has the most population in the Dream island? </h1>

In [31]:
penguins[penguins['island'] == 'Dream']['species'].value_counts()

species
Chinstrap    68
Adelie       56
Gentoo        0
Name: count, dtype: int64

<h2>INSIGHTS #3</h2>
<h3>Chinstrap has the most population</h3>

<h1>4. Which gender is the most dominant? </h1>

In [32]:
penguins['sex'].value_counts()

sex
male      179
female    165
Name: count, dtype: int64

<h2>INSIGHTS #4</h2>
<h3>The most dominant gender amongst the penguins are the male gender</h3>

<h1>5. Which species has the most population in the Biscoe island? </h1>

In [33]:
penguins[penguins['island'] == 'Biscoe']['species'].value_counts()

species
Gentoo       124
Adelie        44
Chinstrap      0
Name: count, dtype: int64

<h2>INSIGHTS #5</h2>
<h3>Gentoo has the most population</h3>

<h1>6. Which species has the most population in the Torgersen island? </h1>

In [34]:
penguins[penguins['island'] == 'Torgersen']['species'].value_counts()

species
Adelie       52
Chinstrap     0
Gentoo        0
Name: count, dtype: int64

<h2>INSIGHTS #6</h2>
<h3>Adelie has the most population</h3>

<h1>7. What year has the most species?</h1>

In [35]:
penguins['year'].value_counts()

year
2009    120
2008    114
2007    110
Name: count, dtype: int64

<h2>INSIGHTS #7</h2>
<h3>The year 2009 has the most species</h3>

<h1>8. Which island has the heaviest average male penguins?</h1>

In [44]:
penguins[penguins['sex'] == 'male'].groupby('island')['body_mass_g'].max()

island
Biscoe       6300.0
Dream        4800.0
Torgersen    4700.0
Name: body_mass_g, dtype: float64

<h2>INSIGHTS #8</h2>
<h3>Biscoe has the heaviest average male penguins</h3>

<h1>9. Which island has the heaviest average female penguins?</h1>

In [45]:
penguins[penguins['sex'] == 'female'].groupby('island')['body_mass_g'].max()

island
Biscoe       5200.0
Dream        4150.0
Torgersen    3800.0
Name: body_mass_g, dtype: float64

<h2>INSIGHTS #9</h2>
<h3>Just like insight number 8, Biscoe has the heaviest average female penguins</h3>

<h1>10. Which species has the longest average bill length?</h1>

In [47]:
penguins.groupby('species')['bill_length_mm'].max()

species
Adelie       46.0
Chinstrap    58.0
Gentoo       59.6
Name: bill_length_mm, dtype: float64

<h2>INSIGHTS #10</h2>
<h3>The species that has the longest bill length is the Gentoo species</h3>

<h1>11. Which year recorded the highest average body mass?</h1>

In [56]:
penguins.groupby(['year', 'species'])['body_mass_g'].value_counts()

year  species  body_mass_g
2007  Adelie   3800.0         6
               3300.0         3
               3450.0         3
               3900.0         3
               3950.0         3
                             ..
2009  Gentoo   5150.0         0
               5700.0         0
               5800.0         0
               6050.0         0
               6300.0         0
Name: count, Length: 846, dtype: int64

<h2>INSIGHTS #11</h2>
<h3>The highest average body mass was recorded in 2009 with 6300 body mass</h3>

<h1>12. Which year recorded the lightest penguin?</h1>

In [62]:
penguins.groupby('year')['body_mass_g'].min()

year
2007    2900.0
2008    2700.0
2009    2900.0
Name: body_mass_g, dtype: float64

<h2>INSIGHTS #12</h2>
<h3>The year that has the lightest penguin recorded is the year 2008</h3>